<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style> -->
  </head>
  <body>
    <h2>Calculator</h2>
    <form action="/" method="POST" name="operator">
      <input type="number" name="num1" id="num1" value="50" />
      <select name="operator" id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="number" name="num2" id="num2" value="50" />
      = {{ result }}

      <br /><br />
      <button id="button" type="submit">Submit</button>
    </form>
  </body>
</html>
